 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 809px;
}

.u-section-1 .u-group-1 {
  width: 312px;
  min-height: 202px;
  height: auto;
  margin: 51px 282px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
  margin: 10px -147px 0 0;
}

.u-section-1 .u-group-2 {
  width: 530px;
  min-height: 213px;
  height: auto;
  background-image: none;
  margin: 89px -218px -206px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 52px 0 50px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
}

.u-section-1 .u-image-1 {
  width: 1035px;
  height: 583px;
  margin: -130px auto 60px -250px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 16px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 41px;
    padding-right: 43px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 26px;
    padding-right: 27px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 406px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 228px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 5px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 12px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 305px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 28px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 11px;
    padding-right: 4px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 192px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 738px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 54px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 578px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 59px;
  padding-right: 54px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 82px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  letter-spacing: 2px;
  background-image: none;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 60px auto 58px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 578px;
}

.u-section-2 .u-image-1 {
  width: 592px;
  height: 488px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: 90px 38px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 80px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 39px;
    padding-right: 19px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
    margin-bottom: 51px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-2 .u-image-1 {
    width: 486px;
    height: 492px;
    margin-top: 39px;
    margin-right: 0;
    margin-bottom: 45px;
    object-position: 50% 50%;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 67px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 610px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 44px;
    margin-bottom: 37px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 610px;
  }

  .u-section-2 .u-image-1 {
    width: 383px;
    height: 550px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 436px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 48px;
    padding-right: 48px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 541px;
  }

  .u-section-2 .u-image-1 {
    width: 452px;
    height: 454px;
    margin-top: 39px;
    margin-bottom: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1164px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 45px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 45px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 512px;
  }

  .u-section-2 .u-image-1 {
    width: 285px;
    height: 452px;
    object-position: 69.58% 50%;
    background-position: 69.58% 50%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1348px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1159px;
  margin: 0 -19px 0 auto;
}

.u-section-3 .u-image-1 {
  min-height: 703px;
  background-image: url("images/fondo.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-group-1 {
  width: 474px;
  min-height: 561px;
  height: auto;
  background-image: none;
  margin: 51px auto;
}

.u-section-3 .u-container-layout-2 {
  margin-bottom: 0;
  padding-left: 32px;
  padding-right: 40px;
}

.u-section-3 .u-text-1 {
  margin: 94px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  letter-spacing: 2px;
  background-image: none;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 40px auto 55px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 703px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  margin-bottom: 0;
}

.u-section-3 .u-image-2 {
  width: 458px;
  height: 458px;
  animation-timing-function: ease;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 685px;
}

.u-section-3 .u-container-layout-4 {
  margin-bottom: 0;
}

.u-section-3 .u-image-3 {
  width: 456px;
  height: 433px;
  margin: 0 auto;
}

.u-section-3 .u-image-4 {
  min-height: 685px;
  background-image: url("images/fondo.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  margin-bottom: 0;
}

.u-section-3 .u-group-2 {
  width: 474px;
  min-height: 549px;
  height: auto;
  background-image: none;
  margin: 48px auto;
}

.u-section-3 .u-container-layout-6 {
  margin-bottom: 0;
  padding-left: 27px;
  padding-right: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 120px 22px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  letter-spacing: 2px;
  background-image: none;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 40px auto 55px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1432px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 1px;
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 756px;
  }

  .u-section-3 .u-group-1 {
    width: 380px;
    min-height: 638px;
    margin-top: 39px;
    margin-bottom: 39px;
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 37px;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 65px;
    margin-right: 44px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 45px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 65px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 580px;
  }

  .u-section-3 .u-image-2 {
    width: 450px;
    height: 450px;
    margin-top: 502px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 565px;
  }

  .u-section-3 .u-image-3 {
    width: 450px;
    height: 427px;
  }

  .u-section-3 .u-image-4 {
    min-height: 725px;
  }

  .u-section-3 .u-group-2 {
    width: 391px;
    min-height: 598px;
    margin-top: 44px;
    margin-bottom: 44px;
    height: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 22px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 60px;
    margin-right: 18px;
  }

  .u-section-3 .u-btn-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1807px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 866px;
  }

  .u-section-3 .u-group-1 {
    width: 290px;
    min-height: 771px;
    margin-top: 48px;
    margin-bottom: 7px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 22px;
    padding-right: 28px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 71px;
    margin-right: 0;
    width: 240px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 48px;
    margin-bottom: 71px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 444px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: 211px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 433px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 323px;
  }

  .u-section-3 .u-image-4 {
    min-height: 821px;
  }

  .u-section-3 .u-group-2 {
    width: 299px;
    min-height: 688px;
    margin-top: 54px;
    margin-bottom: 39px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 14px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 70px;
    margin-right: 11px;
  }

  .u-section-3 .u-btn-2 {
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1389px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 913px;
  }

  .u-section-3 .u-group-1 {
    width: 502px;
    margin-top: 54px;
    margin-bottom: 48px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 27px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-1 {
    width: 256px;
    margin-top: 75px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 40px;
    margin-right: 0;
    margin-bottom: 75px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 666px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 479px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 650px;
  }

  .u-section-3 .u-image-4 {
    min-height: 903px;
  }

  .u-section-3 .u-group-2 {
    width: 502px;
    min-height: 755px;
    margin-bottom: 54px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 33px;
    padding-right: 32px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 75px;
    margin-right: 5px;
  }

  .u-section-3 .u-btn-2 {
    margin-bottom: 75px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 839px;
  }

  .u-section-3 .u-group-1 {
    width: 316px;
    min-height: 725px;
    margin-top: 40px;
    margin-bottom: 34px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 26px;
    padding-right: 17px;
  }

  .u-section-3 .u-text-1 {
    width: 273px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
    margin-bottom: 29px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 419px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 456px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 409px;
  }

  .u-section-3 .u-image-4 {
    min-height: 890px;
  }

  .u-section-3 .u-group-2 {
    width: 300px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 22px;
    padding-right: 28px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 1px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
  margin: 0 auto;
}

.u-section-4 .u-layout-wrap-1 {
  width: 906px;
  margin: 89px 101px 60px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 140px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 140px;
}

.u-section-4 .u-line-1 {
  width: 141px;
  margin: 15px auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 140px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-2 {
  margin: 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 747px;
    margin: 80px 34px 80px 96px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-line-1 {
    width: 116px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 123px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 243px;
  }

  .u-section-4 .u-line-1 {
    width: 119px;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 243px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 58px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 140px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 38px;
  }

  .u-section-4 .u-line-1 {
    width: 111px;
    margin-left: 9px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 236px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 80px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-4 .u-line-1 {
    margin-left: 3px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 1px;
    padding-right: 1px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 660px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 71px;
  margin-bottom: 60px;
}

.u-section-5 .u-image-1 {
  background-image: url("images/fondo.jpg");
  min-height: 509px;
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-5 .u-group-1 {
  width: 489px;
  min-height: 312px;
  height: auto;
  background-image: none;
  margin: 95px auto 0;
}

.u-section-5 .u-container-layout-2 {
  margin-bottom: 0;
  padding: 0 20px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 32px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 509px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-5 .u-image-1 {
    min-height: 434px;
  }

  .u-section-5 .u-group-1 {
    width: 403px;
    background-position: 50% 50%;
    margin-top: 92px;
    margin-bottom: 92px;
    height: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    margin-top: 16px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 434px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-5 .u-image-1 {
    min-height: 345px;
  }

  .u-section-5 .u-group-1 {
    width: 309px;
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 345px;
    background-position: 32.2% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 998px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .u-section-5 .u-image-1 {
    min-height: 405px;
  }

  .u-section-5 .u-group-1 {
    width: 394px;
    min-height: 270px;
    margin-top: 67px;
    margin-bottom: 67px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 453px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 65px;
  }

  .u-section-5 .u-image-1 {
    min-height: 334px;
  }

  .u-section-5 .u-group-1 {
    width: 308px;
    min-height: 277px;
    margin-top: 29px;
    margin-bottom: 29px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 435px;
  }
}